{% load static %}

<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{% static 'oilspillapp/style.css' %}">

<body>

<div class="description">
<div class="name">
    <h1>Oil spill simulation project</h1>
</div>
<div class="details">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget orci ultricies, interdum dui sit amet, tempus
        enim.
        Donec sed nibh nec ligula mattis lobortis vitae et purus. Praesent ante justo, vulputate sodales tellus sed,
        pulvinar molestie nisl. Curabitur non tincidunt ante. Maecenas nec ligula libero. Ut sagittis in ante et
        feugiat.
        Sed enim lectus, varius a interdum id, blandit quis orci. Pellentesque nec urna imperdiet, viverra urna at,
        imperdiet neque. Nunc eu posuere turpis. Sed vitae dolor id diam vestibulum lacinia. Aenean elementum leo vitae
        lectus consequat, non fringilla purus hendrerit. Morbi vulputate nibh sit amet risus luctus, sit amet commodo
        augue
        fermentum. Nunc ullamcorper nunc ultrices, aliquet massa sed, mattis purus. Etiam et mi at tellus posuere
        pretium.
    </p>

    <p>In sit amet risus eu urna vulputate condimentum vitae vestibulum dui. Aenean at dictum nunc. Praesent egestas
        imperdiet ante, nec porta ipsum pharetra eu. Nullam ut mollis nulla, non iaculis arcu. Aenean cursus diam sem,
        vitae
        lacinia velit fringilla a. Suspendisse elementum lacus ac turpis elementum, et ultricies purus sagittis.
        Maecenas at
        magna leo. Nunc vitae mauris neque. Mauris quam lorem, interdum vel quam eget, euismod laoreet risus.
        Suspendisse
        non felis volutpat, venenatis risus et, iaculis sapien. Nam semper non nisi eu placerat. Nulla facilisi.
    </p>
    <br>
</div>


<!--<img src="{% static 'oilspillapp/seaside.jpg' %}"/>-->
<p>
<a class="button" href="parameters">Start simulation</a>
</p>
</div>
</body>
</html>