{% load static %}

<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{% static 'oilspillapp/style.css' %}">

<body>

<div class="description">
<div class="name">
    <h1>Program parameters</h1>
</div>
<div class="details">
    <p>Tutaj jest cos innego
    </p>

    <p>I jeszcze cos bardziej innego
    </p>
    <br>
</div>
    </div>

<div class="description">
<p>
<a class="button" href="import">IMPORT PARAMETERS</a>
</p>
    <br>


<p>
<a class="button" href="export">EXPORT PARAMETERS</a>
</p>
    <br>

<p>
<a class="button" href="simulation">START SIMULATION</a>
</p>
    <br>

</div>

</body>
</html>
